.box1{
    width: 200px;
    height: 100px;
    background-color: indianred;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline;
}
.box2{
    width: 200px;
    height: 100px;
    background-color: rgb(59, 34, 114);
    margin-bottom: 10px;
    margin-right: 10px;
    display: block;
}
.box3{
    width: 200px;
    height: 100px;
    background-color: rgb(192, 189, 36);
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
}
/*.inline{
    display: flex;
}